@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fugaz+One&family=Homemade+Apple&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Patrick+Hand&family=Satisfy&family=Yanone+Kaffeesatz:wght@200..700&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Applogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
  overflow-x: hidden;
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Applink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* nav bar and search bar */
/* guntas */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  text-align: right;
}
.sec {
  height: 80px;
  float: left;
}
.navbar h1 {
  text-align: center;
}
.navbar img {
  height: 100px;
}
.url {
  display: flex;
  flex-wrap: wrap;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 50%);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;
  height: max-content;
}
.login:hover {
  background-color: #514d52;
  transition: 0.5s ease-in;
}
.login:not(:hover) {
  background-color: transparent;
  transition: 0.7s ease;
}
.nava {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.servicehubtitle {
  font-size: large;
  font-family: Manrope;
}
.servicehubslogan {
  font-size: small;
  font-family: Homemade Apple;
}
.nava:hover {
  background-color: #514d52;
  transition: 0.5s ease-in;
}
.nava:not(:hover) {
  background-color: transparent;
  transition: 0.7s ease;
}
#btn {
  margin-left: 5px;
  height: 58px;
  margin-top: auto;
  width: 180px;
}
.Btn {
  width: 185px;
  height: 58px;
  background: #808080;
  position: relative;
  display: flex;
  border-radius: 10px;
  margin:auto auto auto 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Btn:before {
  content: "";
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  animation: border-top-right 3s infinite alternate;
}
.Btn:hover {
  background: #514d52;
  transition: 0.5s ease-in;
}
.Btn:not(:hover) {
  background: #808080;
  transition: 0.5s ease;
}
.Btn:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  animation: border-bottom-left 3s infinite alternate;
}
#btn a {
  color: #ffffff;
}


@keyframes border-top-right {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 185px;
    height: 0px;
  }
  100% {
    width: 185px;
    height: 50px;
  }
}

@keyframes border-bottom-left {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 185px;
    height: 0px;
  }
  100% {
    width: 185px;
    height: 50px;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 25px;
  background-color: #ffffff;
}

.searchbar button img {
  width: 30px;

  align-items: center;
}

.searchbar button {
  border: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #ffffff;
  cursor: pointer;
}

.back {
  background-color: #ffffff;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  background-color: #ffffff;
  width: 500px;
  margin: auto;
}

.entryarea {
  position: relative;
  width: 500px;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
}

.empty {
  height: 100px;
  background-color: #ffffff;
}

#searchInput {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 24px;
  padding: 0 30px;
  line-height: 60px;
  border-radius: 10px;
  border: 2px solid #000000;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline {
  position: absolute;
  font-size: 18px;
  color: #000000;
  padding: 0 5px;
  margin: 0 25px;
  /* background-color: rgb(198, 180, 180); */
  background-color: #ffffff;
  transition: 0.2s ease;
}


input:focus + .labelline,
input:valid + .labelline {
  color: rgb(72, 22, 22);
  height: 30px;
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}

input::before {
  content: "\f002"; /* Unicode for search icon from Font Awesome */
  font-family: FontAwesome;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 24px;
}

.navbar {
  background-color: #e3e3e3;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav button {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

nav button:hover {
  background-color: #ddd;
}

/* Media query for larger screens (optional dropdown) */
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
  }

  nav li {
    margin-right: 30px;
  }
}

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

/* Services section */
/* guntas , gurdeep*/
.houseservices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #666666;
  position: relative;
}

.serviceitem {
  background-color: #f1dcd7;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: px dotted #3c1501e3;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.serviceitem:hover {
  transform: scale(1.1);
}

.serviceitem img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.serviceitem h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #3c1501e3;
  font-family: Raleway;
}

.serviceitem p {
  margin: 0;
  font-size: 0.9rem;
  color: dark#3c1501e3 green;
  font-family: Manrope;
}

/* Customer satisfaction */
/* gunjan */

/* background color */
.container {
  padding: 1rem;
  background-color: #d4d4d4;
}

.headings {
  display: flex;
  justify-content: space-evenly;
  padding: 0px -20rem;
}

.container h2 {
  color: rgb(193, 86, 24);
  font-family: Manrope;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(96, 0, 0);
  font-family: Raleway;
}

h2 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* How it works section */
/* gurman */

.working {
  padding: 48px 48px;
  /* display: flex; */
  background-color: #666666;
}



.picture img {
  position: absolute;
  top: 0%;
  left: 45%;
  border-radius: 8px;
  /* width: 70%; */
  height: 100%;
  opacity: 0.7;
}

.picture img:hover {
  opacity: 100;
  transition: 0.7s ease;
}
.picture img:not(:hover) {
  opacity: 0.7;
  transition: 0.7s ease;
}

#howitworks {
  width: 30%;
  margin: 0 auto;
  padding: 32px;
  background-color: #b0aaaa;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100%;
  right: 15%;
  position: relative;
  
}

.bg {
  position: relative;
  overflow: hidden;
  align-items: center;
  margin-left: 60px;
}

#howitworks h2 {
  font-weight: bold;
  color: rgb(26, 24, 24);
  text-decoration: underline;
  font-family: Manrope;
}

#howitworks h3 {
  font-weight: bold;
  color: #5a2303;
  font-family: Manrope;
}

#howitworks p {
  color: #975a05;
  font-family: Raleway;
}

#howitworks ol {
  counter-reset: step;
  margin-left: 0;
  padding-left: 0;
}

#howitworks ol li {
  display: block;
  margin-bottom: 1em;
  margin-left: 3em;
  position: relative;
}

#howitworks ol li::before {
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  font-size: 2em;
  width: 2em;
  line-height: 2em;
  color: #d0a79e;
  background-color: #522522;
  border-radius: 50%;
  margin-left: -2em;
  position: absolute;
  text-align: center;
}

#howitworks ol li p {
  margin: 0;
}

/* Get help section */
/* gurman */
.serve button {
  background-color: #c4baba;
  border-radius: 5px;
  text-decoration-line: none;
  padding: 10px 5px;
  transition: 0.5s;
  margin-bottom: 20px;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  color: #4a120f;
  cursor: pointer;
}

.serve button:hover {
  border-color: var(--clr);
  box-shadow: 0px 0px 35px var(--clr);
}

.serve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4;
  font-family: Raleway;
}

/* Help section */
#help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4;
}

#help h2 {
  color: rgb(94, 30, 20);
  font-family: Manrope;
  text-align: center;
}

/* About us section */
/* gurman */
.about {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 40px;
  text-align: center;
  background-color: #666666;
  color: #ffffff;
}
.aboutuscontent p{
  text-align: left;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 500px;
}
.aboutussec {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: left;
  display: none;
}
.sect {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #666666;

}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.person {
  position: relative;
  font-size: 15px;
  font-family: Quicksand;
}

.person img {
  height: 200px;
  transition: transform 0.3s;
  border-radius: 30px;
}

.person:hover img {
  transform: scale(1.1);
}

.socialicons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.person:hover .social-icons {
  opacity: 1;
}

.socialicons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-size: cover;
}

.person:hover::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: #3e1602e3;
  background-size: 400% 400%;
  animation: neonBorder 1.5s infinite alternate;
}

@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Crafted with passion */
/* gurman */
.text {
  text-align: center;
  font-family: Homemade Apple;
  background-color: #d4d4d4;
  /* background-color: #d4d4d4 ; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  outline: none;
  font-size: 20px;
  animation: animate 5s linear infinite;
}

.quar {
  font-family: Alex Brush;
  font-size: 20px;
  display: inline;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: black;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: maroon;
    text-shadow: 0 0 10px #620000e3, 0 0 20px #620000e3, 0 0 40px #620000e3,
      0 0 80px #620000e3, 0 0 160px #620000e3;
  }
}
/* Back to top button */
/* gurman */
#progress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progressvalue {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: rgb(185, 164, 164);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: rgb(72, 22, 22);
}

html {
  scroll-behavior: smooth;
}

/* Responsive styles */

/* For screens smaller than 768px (tablets and smaller) */
@media only screen and (max-width: 768px) {
  .serve a {
    padding: 8px 20px;
    font-size: 14px;
  }
  

  .serve {
    justify-content: center;
  }
  .picture img {
    position: absolute;
    top: 0%;
    left: 30%;
    border-radius: 8px;
    /* width: 70%; */
    height: 100%;
    opacity: 0.7;
  }
  #howitworks {
    width: 30%;
    margin-left: 10px;
    padding: 32px;
    background-color: #b0aaaa;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 250px;
    right: 5%;
    position: relative;
    
  }
  #howitworks h2 {
    font-weight: bold;
    color: rgb(26, 24, 24);
    text-decoration: underline;
    font-family: Manrope;
    font-size: 15px;
  }
  
  #howitworks h3 {
    font-weight: bold;
    color: #5a2303;
    font-family: Manrope;
  }
  
  #howitworks p {
    color: #975a05;
    font-family: Raleway;
    font-size: 10px;
  }
  
  #howitworks ol {
    counter-reset: step;
    margin-left: 0;
    padding-left: 0;
    font-size: 10px;
  }
  
  #howitworks ol li {
    display: block;
    margin-bottom: 1em;
    margin-left: 3em;
    position: relative;
  }

  #help h2 {
    font-size: 24px;
  }

  .service-item {
    width: 45%;
  }

  .container {
    padding: 0.5rem;
  }
}

/* For screens smaller than 576px (phones and smaller) */
@media only screen and (max-width: 576px) {
  .serve a {
    padding: 6px 16px;
    font-size: 12px;
  }

  .serve {
    flex-direction: column;
    align-items: center;
  }
  .working {
    width: 100px;
  }

  #help h2 {
    font-size: 20px;
  }

  .serviceitem {
    width: 100%;
  }

  .container {
    padding: 0.25rem;
  }

  .images {
    flex-direction: column;
  }
}

/* connect */
#connect {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Adjusted from "right: 20px;" to "left: 20px;" */
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #b9a4a4;
}

#connect span {
  font-size: 35px;
  color: rgb(106, 53, 53);
}
